
.pwd
{
  position: absolute;
  right:10px;  
  top:60%;
}

@media screen and (max-width:768px)
{
   .form
   {
    width:100%;
    border: none;
    padding: 0;
    margin: 0;
   }
   .form div
   {
    width:300px;
   }
   .form label{
    margin: 0;
    padding: 0;
   }
}