@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
  --theme:rgb(126, 17, 126);
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
.home{
  background-color: black ;
}
/* .btn
{
  justify-content: center;
  align-items: center;
  background-color: var(--theme)!important;
  padding: 10px;
  margin:0px 30px;
  height: max-content;
  color: white!important;
} */

