@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
  --theme:rgb(144, 19, 246);
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn
{
  justify-content: center;
  align-items: center;
  background-color: var(--theme)!important;
  padding: 10px;
  margin:0px 30px;
  height: max-content;
  color: white!important;
}