.audio-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin-top: 75px;
  padding: 2% 2%;
}
.card {
  position: relative;
  width:350px;
  overflow: hidden;
  min-height: 350px;
  align-items: center;
  justify-content: center;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 70%;
  height:50%;
  border-radius: 5px;
  filter: brightness(0.7);
}

.card .myh2 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin: 5px 0;
}

.card .myh3 {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin: 6px 0;
  text-align: center;
}

.card .myp {
  font-size: 14px;
}



.btn-overlay {
  position: absolute;
  top: 25%;
  left:40%;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  opacity: 0; 
  transition: 0.2s; 
}

.card:hover .btn-overlay{
  opacity: 1;
}

.plybtn {
  text-decoration: none!important;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background-color: #000;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  font-size: 25px;
}
